html {
    box-sizing: border-box;
}

body {
    height: 100%;
  /*   margin: 0 50px 0 50px;  */
}

.sale {
    max-width: 1440px;
    height: 38px;
    text-align: center;
    background: rgb(20, 19, 19);
    color: azure;
    padding-top: 10px;
}
.sale>img{
    position: absolute;
padding: 3px;
margin: 0 0 0 425px;
}
/*   */
header {
    margin: 40px;
}

nav {
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    padding: 10px 0 10px 0;
}

nav>img {
    height: 24px;
    padding: 6px 10px 6px 0;
}

.logo {
    padding: 6px 40px 6px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 6px 40px 6px 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: inline;
    padding-right: 10px;
}

form {
    display: inline;
    min-width: 150px;
    height: 22px;
    background-color: rgba(151, 151, 151, 0.684);
    margin-right: 40px;
    padding: 6px 8px 6px 8px;
}

form>input {
    padding: 0;
    border: 0;
}

.container1 {
    min-height: 663px;
    min-width: 1440px;
    background-image: url("../img/Rectangle 2.jpg");
    /* для фона  */
    background-repeat: no-repeat;
}

/*  .container1>h1 {
    max-width: 577px;
    height: 192px;
    font-size: 64px;
    font-weight: bold;
    font-family: sans-serif;
}  */
.container1>img{
padding: 100px 50px 30px 100px;
}
.container1>p {
    max-width: 577px;
    padding-left: 100px;
}
.container1>button {
    width: 210px;
    height: 52px;
    margin: 25px 0 50px 100px;
    border-radius: 62px ;
    background-color: rgb(20, 19, 19);
    color:azure;
}
.numbers{
    padding-left: 100px;
}
.brends {
    max-width: 1440px;
    height: 122px;
    background-color: rgb(20, 19, 19);
    text-align: center;
    margin: 0;
}

.brends>img {
    margin: 40px;
}

.big-card {
    display: flex;
    justify-content: space-between;
}

main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}